html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
/*  font: 112.5%/1.45em georgia, serif, sans-serif;  */
  font-family: sans-serif !important;
/*  font: 112%/1.45em sans-serif; */
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  background-color: #1c1e21 ;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; 
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  flex-grow: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.container {
  display: flex;
  flex-wrap: wrap;
 /*  justify-content: center;
 max-width: 1200px; */
  margin-block: 2rem;
  gap: 2rem;
}


.card__image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}


.card_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  text-decoration:  none;
  color: black;
}

@media only screen and (min-width: 600px) {

  .card_info {
    width: clamp(13rem, calc(13rem + 2vw), 14rem);
  }
}


.card__base {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  text-decoration:  none;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  text-decoration:  none;
  color: black;
}


.card_swipe{
  width: clamp(20rem, calc(20rem + 2vw), 22rem) !important;
}

.card_swipe > .card {
  width: 100% !important;
}

.card__dash {
  width: 100%;
  flex-direction: row;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin: 0px;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 0.5em;
  font-size: .75rem;
  margin-bottom: .25em;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-main{
  font-size: .9rem;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.tag-grey {
  background: #646464;
  color: #fafafa;
}

.tag-status{
  margin-right: 0.5em;
  text-transform: capitalize;
}

.tag-empty {
  background: #56CCF2;
  background: linear-gradient(to bottom, #7a00ff, #b38bd1);
  color: #fafafa;
}

.tag-preview {
  background: white;
  border:1px solid black;
  color: black;
}

.tag-results {
  background: black;
 /* background: linear-gradient(to bottom, #000000, #00000085); */
  color: white;
}

.tag-results:hover {
 /* background: linear-gradient(to bottom, #000000, #00000085); */
  color: white;
}

.tag-live {
  background: var(--chakra-colors-ss_green);
  color: #fafafa;
}

.race-list{
  border-bottom: 1px dotted black ;
}

.race-list:last-child { border-bottom: none; }

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__content {
  display: none;
}

.help-menu{
  text-align: right;
  padding-right: 1em;
  border-bottom: 2px solid black;
  font-weight: 700;

}

.help-menu:hover{
  background-color: #d1d1d1;
}
.help-menu:last-child { border-bottom: none; }

@media  (min-width: 480px) {
  .card__content {
    display: block;
    text-align: left;
    margin-top: 1.2em;
  }
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.slide-pane__content{
  padding: 0 !important;
}

.slide-pane {
  width :100% !important;
}

@media  (min-width: 810px) {
  .slide-pane{
    width: 50% !important;
  }
}

@media  (min-width: 1024px) {
  .slide-pane {
    width :30% !important;
  }
}

.customOverlay{
  background: none !important;
}

.customModal{
  border-radius:  15px;
  position: absolute !important;
  right:  5px;
  top:  65px;
}

.slick-arrow{
  height: 100% !important;
  background: #81e94c96 !important;
}

.resultLink :hover {
    color: rgba(0, 0, 0, 0.7); 

}

.filterOprion{
  cursor: pointer;
  width: 100%;
  padding-left: 1em;
  border-bottom: 1px dotted black;
}

.filterOprion :hover{
  color: green;
}

.filterOprion:last-child { border-bottom: none; }

.filterOprionText{
  padding-right: 1em
}
  
.min-tablet{
  display: none;
} 

@media screen and (min-width: 800px) {
    .min-tablet{
      display: table-cell;
    } 
}


.min-desktop{
  display: none;
}
    
@media screen and (min-width: 1024px) {
  .min-desktop{
    display: table-cell;
  } 
}

.cutout {
  transform: skewX(-15deg);
  overflow: hidden;
  width: 100%;
  height: 80px;
}

.content {
  transform: skewx(15deg);
  width: 200%;
  height: 200%;
}

